body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  background-color: #f5f7fa;
}

.logo {
  height: 100px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  /* Estilos para el contenido principal */
  .content {
    margin-left: 270px;
    padding: 20px;
    flex: 1;
  }
  
  .content h1 {
    color: #333;
  }
  

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.imagen-input {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.preview {
    max-width: 200px;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 5px;
}