.asw-menu-btn {
    background: #1e40af;
}
.asw-menu-header {
    background: #1e40af!important;
    color: #fff;
}

.asw-footer {
    background: #1e40af !important;
    color: #fff;
}

.asw-adjust-font div[role=button] {
    background: #1e40af !important;
    color: #fff;
}


